<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Profile</title>
</head>
<body>
<div class="card mx-auto" style="max-width: 600px;" >
  <div class="card-header">
    <h3>Profile.</h3>
  </div>
  <div class="card-img-top d-flex justify-content-center mt-2"  >
    <img src="https://via.placeholder.com/150" alt="Profile Image" class="img-fluid profile-image">
  </div>
  <div class="card-title mx-auto ">
    <h2 >John Doe</h2>
    <p>Software Engineer</p>
  </div>

  <div class="card-body profile-container " >
    <hr class="hr" />
    <h4>Education</h4>
    <ul>
      <li>Bachelor's in Computer Science - XYZ University</li>
      <li>Master's in Software Engineering - ABC Institute</li>
    </ul>
    <hr class="hr" />
    <h4>Languages</h4>
    <ul>
      <li>English</li>
      <li>Spanish</li>
      <li>French</li>
    </ul>
    <hr class="hr" />
    <h4>Projets</h4>
    <ul>
      <li>English</li>
      <li>Spanish</li>
      <li>French</li>
    </ul>
    <hr class="hr" />
    <h4>Recommandations</h4>
    <ul>
      <li>English</li>
      <li>Spanish</li>
      <li>French</li>
    </ul>
  </div>
</div>
</body>
</html>

